* {
  font-family: adelle-sans-ultra-thin, sans-serif;
  user-select: none;
}

.rmdb-searchbar {
  width: 100%;
  height: 105px;
  background: #1c1c1c;
  position: relative;
  padding: 25px 20px 0px 20px;
  box-sizing: border-box;
  color: #fff;
}

.rmdb-searchbar-content {
  max-width: 1280px;
  width: 100%;
  height: 55px;
  background: #353535;
  margin: 0 auto;
  border-radius: 40px;
  position: relative;
  color: #fff;
}

.rmdb-fa-search {
  position: absolute;
  left: 20px;
  top: 12px;
  color: #fff;
}

.rmdb-searchbar-input {
  font-family: "Abel", sans-serif;
  font-size: 38px;
  position: absolute;
  left: 3%;
  width: 95%;
  top: 7px;
  border: 0;
  background: transparent;
  height: 40px;
  color: #fff;
}

.rmdb-searchbar-input:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .rmdb-searchbar-input {
    font-size: 28px;
    color: #fff;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin-bottom: 0px;
}

ul.ChatLog {
  list-style: none;
}

.ChatLog {
  max-width: 100%;
  margin: 0 auto;
}
.ChatLog .ChatLog__entry {
  margin: 0.5em;
}

.ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}

.ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;
}

.ChatLog__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__avatar {
  display: none;
}

.ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px;
}

.ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  bottom: 0.6em;
  left: -12px;
  height: 0;
  content: null;
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  bottom: 0.6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: #08f;
}

.ChatLog__message {
  background-color: #ddd;
  padding: 0.5em;
  border-radius: 4px;
  max-width: 70%;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border-top: 1px solid #07f;
  border-bottom: 1px solid #07f;
  background-color: #08f;
  color: #fff;
}

.ChatLog__message .ChatLog__timestamp {
  display: none;
}

.paper {
  margin: 10px;
}

.center_div {
  display: flex;
  justify-content: center;
  padding: 20px;
  top: 100px;
}

.makeright {
  /* float: right; */
  position: absolute;
  right: 10;
  background: red;
}

.commentAuthor {
  font-size: 12px;
}
.commentAuthorRight {
  text-align: right;
  font-size: 12px;
}
/* Leave Management Styles START !!!! DON'T TOUCH !!!!!!! */
.paper_style {
  width: "98%";
  position: "relative";
  text-align: "center";
  display: "inline-block";
  margin: 4;
}
.flexcontainer {
  display: "flex";
  flex-wrap: "nowrap";
  justify-content: "space-around";
  flex-direction: "column";
}
.flexitem {
  display: "flex";
  justify-content: "space-around";
  align-items: "baseline";
}

.flexAppContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  /* padding: "10px"; */
}

.flexAppItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
/* Leave Management Styles END !!!! DON'T TOUCH !!!!!!! */

.SelectPadding {
  padding-left: 15%;
}

.contentAddButton {
  top: "auto";
  bottom: 20;
  left: "auto";
  right: 20;
  position: "fixed";
  margin: 0;
}
#avatarStyle {
  color: "#696969";
  background-color: white;
  font-size: "16px";
  height: "40px";
  width: "40px";
  top: "8px";
  right: "20px";
  font-weight: "bold";
}

/**
 * React Weekly Day Picker
 * stylesheet
 */
.rwdpDayPickerContainer {
  width: 100%;
  display: block;
  position: relative;
  padding: 9px 19px;
}
.rwdpDayBoxDesktop .rwdp-DayCircle-container {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 15%;
  margin: 2px;
}
.rwdpDayBoxDesktop .rwdp-DayCircle {
  border: 2px solid rgb(253, 145, 77);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: rgb(253, 145, 77);
  position: relative;
  padding-top: 8px;
  margin: 1px;
}
.rwdpDayBoxDesktop .rwdp-DayCircle-selected {
  background: rgb(253, 145, 77);
  border: 2px solid rgb(253, 145, 77);
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 50%;
  padding-top: 8px;
  margin: 1px;
}
.rwdpDayBoxDesktop .rwdp-DayCircle-unavailable {
  border-color: #a8a8a8;
  color: #a8a8a8;
}
.rwdpDayBoxDesktop .rwdp-DayCircle-today {
  color: #000;
  position: absolute;
  top: -28px;
}
.rwdpDayBoxDesktop .rwdp-DayCircle-unavailable-text {
  position: absolute;
  bottom: -28px;
}
.rwdpDayBoxMobil {
  margin-top: 10px;
  margin-bottom: 10px;
}
.rwdpDayBoxMobil .rwdp-DayCircle-container {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 14vw;
}
.rwdpDayBoxMobil .rwdp-DayCircle div {
  margin-top: 5px;
}
.rwdpDayBoxMobil .rwdp-DayCircle {
  border: 1px solid rgb(253, 145, 77);
  border-bottom: none;
  width: 100%;
  height: 80%;
  color: rgb(253, 145, 77);
  position: relative;
}
.rwdpDayBoxMobil .rwdp-DayCircle-container:last-child .rwdp-DayCircle {
  border-bottom: 1px solid rgb(253, 145, 77);
}
.rwdpDayBoxMobil .rwdp-DayCircle-selected {
  background: rgb(253, 145, 77);
  color: #fff;
  border-bottom: 1px solid #fff;
}
.rwdpDayBoxMobil .rwdp-DayCircle-today {
  color: #000;
}
.rwdpDayBoxMobil .rwdp-DayCircle-unavailable {
  border-color: #a8a8a8;
  color: #a8a8a8;
}
.rwdpDayBoxMobil
  .rwdp-DayCircle-container:last-child
  .rwdp-DayCircle-unavailable {
  border-bottom-color: #a8a8a8;
}
.rwdpPrevWeekArrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgb(253, 145, 77);
  position: absolute;
  top: calc(50% - 20px);
  left: 0px;
  cursor: pointer;
}
.rwdpNextWeekArrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid rgb(253, 145, 77);
  position: absolute;
  top: calc(50% - 20px);
  right: 0px;
  cursor: pointer;
}

.rwdp-flex-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.rwdp-flex-row {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
}
.rwdp-flex-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}
.rwdp-justify-content-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.rwdp-justify-content-space-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
.rwdp-justify-content-space-around {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: center;
}
.rwdp-align-items-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.paperDiv {
  box-shadow: rgba(0, 0, 0, 0.12) -7px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.leavesAnimation {
  padding: 5px;
  animation-name: color_change;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@-webkit-keyframes color_change {
  from {
    background-color: green;
  }
  to {
    background-color: red;
  }
}
.leavesAnima {
  padding: 0;
  animation-name: color_change1;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@-webkit-keyframes color_change1 {
  from {
    background-color: white;
  }
  to {
    background-color: white;
  }
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.imageFill {
  filter: grayscale(10);
}
